* {
    box-sizing: border-box;
}

img {
    max-width: 100%;

}

.container {
    padding-top: 50px;
}


.w {
    margin-right: 50px;
}

.women,
.men {
    width: 270px;
    display: block;
    position: absolute;
    content: "";
    background: white;
    bottom: 15px;
    right: 50%;
    left: 50%;
    text-align: center;
    font-size: 23px;
    transform: translate(-50%,-50%);
}


form {
    width: 100%;
}

input:focus {
    outline: none;
    border-color: gray;
}

input {
    resize: none;
    color: rgb(113, 101, 113);
    width: 100%;
    border: none;
    background: none;
    border-bottom: 1px solid rgba(108, 112, 112, 0.13);
    padding: 30px;
}

input::placeholder {
    color: rgba(108, 112, 112, 0.52);
    font-size: 23px;
}

button {
    padding: 9px 70px;
    background: #fff;
    cursor: pointer;
    font-size: 25px;
}

button:hover {
    background-color: #999999;
}

.zag {
    font-size: 30px;

}
